<h2 id="title">Welcome to Ember Sample Application </h2>

 {{#link-to 'first-route'}} First Page {{/link-to}}
 &nbsp;
 {{#link-to 'second-route'}} Skills {{/link-to}}
 &nbsp;
 {{#link-to 'databinding'}} Third Page {{/link-to}}
 &nbsp;
 {{#link-to 'team-route'}} Team Member {{/link-to}}
 
 &nbsp;
 {{#link-to 'people'}} People {{/link-to}}
 
{{outlet}}
