
<h2> Name </h2>


<p> {{model.firstName}}  {{model.lastName}}</p>
<p> <b>Phone :</b>   {{model.phone}} </p>
<p> <b>Email :</b>   {{model.email}} </p>

<h2> Address </h2>

{{#each item in model.addresses}}
<p>   </p>
<p> <b>{{item.category}}</b> : {{item.address}} </p>
{{/each}}